$primary-color: #272727;
$text-color: #2c2c2c;
$color-white: #ffffff;
$color-green: #339900;
$color-red: #ff5733;
$color-orange: #ff9933;
$color-blue: #25b0f3;
$color-darkblue: #0377b7;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
